body{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    color: #004d40 !important;
}

hr{
    border: 1px solid #004d40;
}

.sensorsqty{
    margin-top: 30px;
}

.sensor{
    width: 400px;

}

.sensorlist{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.more{
    color: #004d40;
    line-height: inherit;
    margin: 0;
    padding: 0;
    margin-right: 5px;
}

.temp, .hum{
    margin: 30px 0 0;
}

.lastupdate{
    text-align: center;
    font-size: 12px;
}

.main{
    display: none;
}

.sensorcard{
    border-left: 1px solid #004d40;
}

.card h5 a{
    color: inherit;
}

.nav-wrapper a{
    color: #004d40 !important;
}

#heatmap{
    width: 823px;
    height: 681px;
    background-image: url('gfx/hala.PNG');
    background-size: contain;
    background-repeat: no-repeat;
}