body {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  color: #004d40 !important;
}

hr {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px solid #004d40;
}

.sensorsqty {
  margin-top: 30px;
}

.sensor {
  width: 400px;
}

.reslogo {
  display: none;
}

.sensorlist {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.more {
  color: #004d40;
  line-height: inherit;
  margin: 0;
  padding: 0;
  margin-right: 5px;
}

.temp,
.hum {
  margin: 30px 0 0;
}

.lastupdate {
  text-align: center;
  font-size: 12px;
}

.main {
  display: none;
}

.sensorcard {
  border-left: 1px solid #004d40;
}

.card h5 a {
  color: inherit;
}

.nav-wrapper a {
  color: #004d40 !important;
}

#heatmap {
  background-image: url("gfx/hala.PNG");
  background-size: contain;
  background-repeat: no-repeat;
}

.results {
  margin-top: 4em;
}

.rozdz {
  display: none;
}

@media print {
  .main div,
  .main h5,
  .main hr {
    display: none;
  }

  a {
    color: #004d40 !important;
  }

  .menu {
    display: none;
  }

  .rozdz {
    display: block;
  }

  .no-print {
    display: none;
  }

  .reslogo {
    display: block;
  }

  .results {
    margin-top: 0;
  }

  body {
    padding: 0;
    -webkit-print-color-adjust: exact;
  }
  canvas {
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    height: auto !important;
    width: auto !important;
  }
}
